

ul {
	list-style: none;
}

.fl {float: left;}

.fr {float: right;}

a:focus {outline: none;}

.hide {display: none;}

.hide_v {visibility: hidden;}
.opcity{opacity: 0;}

.logo {width: 16%;position: fixed;top: 2%;left: 2%;z-index: 20;}


.section,
.pop_section {
	overflow: hidden;
	background-position: center;
	background-size: 100% auto;
}

.pop_section {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}


.loading {
	background-image: url(../img/l_bg.jpg);
	background-repeat: repeat;
	background-color: black;
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 10;
}

.loadingTitle {
	margin: 15% auto 1%;
}
.loadingTu {
	margin: 2% auto 5%;
}

.loadingCar {
	position: relative;
	border-top:2px solid  #fefefe;
}

.loadingCarPic {
	position: absolute;
	left: -38%;
	top: 0px;
	width: 41%;
	margin-top: -2.8%;
}
.l_top_lbg{ display: inline-block;position: absolute;top: 0;left: 0;width: 0;height: 0;
    border-top: 450px solid rgba(33,192,255,0.15);
    border-right: 120px solid transparent;z-index: 2;}
    
.l_top_rbg{ display: inline-block;position: absolute;bottom: 0;right: 0;width: 0;height: 0;
    border-bottom: 450px solid rgba(33,192,255,0.15);
    border-left: 120px solid transparent;}
    
.l_top_left{display: inline-block;position: absolute;top: 0;left: 0;width: 0;height: 0;
    border-top: 500px solid rgba(33,192,255,0.10);
    border-right: 150px solid transparent;    -webkit-animation: myfirst2 0.8s infinite; z-index: 1; }
.l_top_left:before{z-index:-2;-webkit-animation:pulseAnimation 3s infinite;-moz-animation:pulseAnimation 3s infinite;animation:pulseAnimation 3s infinite}
.l_top_left:after{z-index:-1;-webkit-animation:pulseAnimation 3s .75s infinite;-moz-animation:pulseAnimation 3s .75s infinite;animation:pulseAnimation 3s .75s infinite}
.l_top_left:after,.l_top_left:before{background:rgba(75,168,46,.4);-webkit-animation-duration:4s;-moz-animation-duration:4s;animation-duration:4s}

//fullpage
#pageContain { overflow: hidden;}
.page { display: none; width: 100%; height: 100%; overflow: hidden; position: absolute; top: 0; left: 0;}
.contain { width: 100%; height: 100%; display: none; position: relative; z-index: 0;}
.current .contain, .slide .contain { display: block;}
.current { display: block; z-index: 1;}
.slide { display: block; z-index: 2;}
.swipe { display: block; z-index: 3; transition-duration: 0ms !important; -webkit-transition-duration: 0ms !important;}
#navBar { z-index: 3; position: absolute; top: 30%; right: 3%;}
#navBar .active { background: #ccc;}
#navBar li { cursor: pointer; margin-bottom: 10px; transition: all .7s ease; border-radius: 50%; line-height: 40px; text-align: center; width: 40px; height: 40px;}

.section { position: relative; height: 100%;}
/** nextPage [[**/
.nextPage{ display: inline-block; text-align: center;position: absolute;bottom: 0;right: 0%;width: 20%;z-index: 100;height: 100%;background-size: cover !important;}
.nextPage img{display: inline-block; vertical-align: middle;position: absolute; top: 44%;}
.nextPage a{ display: inline-block;}
/** nextPage ]]**/

/*section1*/
.section1 {background-image: url('../img/s1_bg.jpg');}
.section1 .s1_ztit{position: absolute;top: 20%;left: -25%;width: 25%;}
.section1 .s1_ftit{position: absolute;width: 17%;right: -20%;top: 16%;}
.section1 .funtec{ position: absolute; bottom: 20%; left: -30%;}
.section1 .logo_foot{position: absolute; right: 22%; bottom: 20%;}
.section1 .nextPage{background: url('../img/next1_bg.png') center no-repeat; background-repeat: no-repeat;}
.section1 .s1_video {
	width: 28%;
	position: absolute;
	right: 7%;
	top: 40%;
	cursor: pointer;
}

/*section2*/
.section2 {background-image: url('../img/s2_bg.jpg');}
.section2 .nextPage{background: url('../img/next2_bg.png') center no-repeat; background-repeat: no-repeat;}

/*section3*/
.section3 {background-image: url('../img/s3_bg.jpg');}
.section3 .s3_tit{width: 36%; left: 7.5%; top: 14%;}
.section3 .s3_ptit{color: #fff;top: 27%;left: 13.5%;position: absolute;font-size: 0.9rem;}
.section3 .nextPage{background: url('../img/next3_bg.png') center no-repeat; background-repeat: no-repeat;}

/*section4*/
.section4 {background-image: url('../img/s4_bg.jpg');}
.section4 .s4_tit{width: 36%; left: 7.5%;}
.section4 .s4_ptit{color: #fff;top: 29%;left: 12.5%;position: absolute;font-size: 0.9rem;}
.section4 .nextPage{background: url('../img/next4_bg.png') center no-repeat; background-repeat: no-repeat;}

/*section5*/
.section5 {background-image: url('../img/s5_bg.jpg');}
.section5 .nextPage{background: url('../img/next5_bg.png') center no-repeat; background-repeat: no-repeat;background-size: cover;}
.s_tit{width: 27%;position: absolute;top: 21%;left: 12%;}
.parameter .ptit{font-size: 1.2rem;color: #21c0fc;border-bottom: 1px solid #21c0fc;font-weight: 400;}
.parameter .para{width: 14%;float: left;color: #fff;position: absolute;top: 32%;font-size: 0.8rem;}
.parameter .para1{left: 12%;}
.parameter .para1 p{ line-height: 42px;}
.parameter .para p span.pri{ font-size: 30px;display: inline-block;font-weight: bold;padding: 0 1%;}
.parameter .para .view{display: INLINE-BLOCK;width: 80%;border: 1px solid #fff;text-align: center;padding: 2% 0;margin-top: 20px;}
.parameter .para2{left: 30.5%;}
.parameter .para3{left: 49%;}
.parameter .para4{left: 68%;}
.parameter .paraP .price{border-bottom: 1px solid #47657e; margin-bottom: 12px;width: 88%;}
.parameter .paraP p.con{ font-size: 14px; line-height: 28px; min-height: 200px; }

/*section6*/
.section6 {background-image: url('../img/s6_bg.jpg');}
.section6 .s6_tit{width: 16%;position: absolute;top: 8%;left: 10%;}
.section6 .nextPage{background: url('../img/next6_bg.png') center no-repeat; background-repeat: no-repeat;}
.section6 .img {width: 938px; margin-left: 16%; margin-top: 14%;position: relative;}
.section6 .swiper-prev {background: url(../img/swiper-prev.png) no-repeat;position: absolute;left: 0%;top: -13%;width: 53px;height: 40px;z-index: 2;}
.section6 .swiper-next{background: url(../img/swiper-next.png) no-repeat;position: absolute;left: 0%;bottom: -49%;width: 53px;height: 40px;z-index: 2;}
.section6 .swiper-pagination{left: -4%;top: 37%;width: 13px;}
.section6 .swiper-pagination span{width: 13px;height: 13px;display: INLINE-BLOCK;float: left;margin-bottom: 5px;border: 2px solid #246a8f; cursor: pointer;}
.section6 .swiper-pagination .swiper-active-switch{border: 2px solid #21c0fc;}
.section6 .swicon{ margin-left: 16%; color: #fff;}
#main_title{ font-size: 1.6rem;}
#main_titf{ font-size: 1rem;}
#main_a a{color: #fff;border: 1px solid #fff;display: INLINE-BLOCK;text-align: center;padding: 5px 58px;font-size: 1.2rem;text-decoration: none;margin-top: 20px;}

/*section7*/
.section7 {background-image: url('../img/s7_bg.jpg');}
/**留资**/
.form-style {width: 50%;height: 64%;margin: 0 auto;margin-top: 16%;}
.form-row {margin-bottom: 2%;}
.form-row label {margin-bottom: 5px;}
.form-row label,.searchFor {display: block;color: #21c0fc;}
.form-row input {font-size: 18px;width: 100%;background: none;text-align: center;color: #8b969c;height: 40px;outline: none;padding: 0px;vertical-align: middle;margin-bottom: 10px;border: 1px solid #8b969c;}
.note {display: inline-block;margin-left: 20px;font-size: 14px;}
.form-row .txtArea,.form-row .txtSubPhone {display: inline-block;width: 25%;}
.form-row .txtPhone {display: inline-block;width: 47.1%;margin: 0 1%;}
.video_k {display: inline-block;background: none;width: 100%;height: 40px;margin-bottom: 10px;position: relative;box-sizing: border-box;cursor: pointer;font-size: 18px;vertical-align: middle;text-align: center;border: 1px solid #8b969c;}
.form-row.fl,
.form-row.fr {width: 49.5%;}
.video_k_top { display: inline-block;border-right: none;line-height: 40px;color: #8b969c;}
.video_k_icon {position: absolute;right: 20px;top: 0px;width: 20px;height: 100%;}
.section14 .video_k_icon {background: url(../img/s14down_arrow.png) no-repeat center;}
.selectList {overflow-y: scroll;height: 140px;width: 100%;display: none;position: absolute;top: 40px;left: -1px;background: white;border: 1px solid #ccc;border-top: none;box-sizing: border-box;z-index: 1;}
.selectList p {padding: 5px 10px;cursor: pointer;}
.selectList p:hover {background: #eb001d;color: white;}
.selectList p.active {background: #e10825;color: white;}
.video_k_show {display: block;}
.video_k_hide {display: none;}
#contact {display: inline-block;}
.form-bottom {position: relative;overflow: hidden;}
.btnSubmit {margin-right: -2%;display: block;width: 20%;background: black;color: white;font-size: 18px;text-align: center;width: 160px;padding: 5px;box-sizing: border-box;cursor: pointer;}
.tip {position: absolute;font-size: 14px;color: rgba( 39, 39, 39);opacity: 0.5;bottom: 0;}


/** 点点样式 **/
.section_dotWrap {position: absolute;left: 0%;top: 0%;width: 100%;height: 100%;z-index: 2;}
.section_dotWrap .dot {position: absolute;display: block;height: 33px;cursor: pointer;}
.section_dotWrap .dot.active {z-index: 2;}
.section_dotWrap .dot .dot_text {position: absolute;color: #21c0fc;border: 1px solid #21c0fc;font-style:normal}
.section_dotWrap .dot .dot_text em{width: 72px;height: 4px;background: #21c0fc;display:inline-block;position: absolute;}
.section3_dotWrap .dot0 {right: 40.8%;top: 44%;}
.section3_dotWrap .dot0 .dot_text{width: 318px;height: 1px;left: 15px;bottom: 15px;border-left: 0;border-bottom: 0;}
.section3_dotWrap .dot0 .dot_text li{position: absolute;right: 0;bottom: 4px;}
.section3_dotWrap .dot0 .dot_text em{top: -2px;right: 0;}
.section3_dotWrap .dot1 {left: 45%;top: 59%;}
.section3_dotWrap .dot1 .dot_text{width: 448px;height: 61px;right: 15px;bottom: 15px;border-left: 0;border-bottom: 0;}
.section3_dotWrap .dot1 .dot_text li{position: absolute;left: 0;top: -45%;}
.section3_dotWrap .dot1 .dot_text em{top: -2px;}
.section3_dotWrap .dot3 {left: 32%;top: 64%;}
.section3_dotWrap .dot3 .dot_text{width: 270px;height: 61px;right: 15px;top: 15px;border-left: 0;border-top: 0;}
.section3_dotWrap .dot3 .dot_text li{position: absolute;left: 0;bottom: 2px;}
.section3_dotWrap .dot3 .dot_text em{bottom: -2px;}
.section3_dotWrap .dot4 {left: 54%;top: 28.5%;}
.section3_dotWrap .dot4 .dot_text{width: 358px;height: 1px;left: 15px;bottom: 15px;border-left: 0;border-bottom: 0;}
.section3_dotWrap .dot4 .dot_text li{position: absolute;right: 0;bottom: 4px;}
.section3_dotWrap .dot4 .dot_text em{top: -2px;right: 0;}
.section3_dotWrap .dot6 {left: 55.5%;top: 66%;}
.section3_dotWrap .dot6 .dot_text{width: 334px;height: 61px;left: 15px;top: 15px;border-right: 0;border-top: 0;}
.section3_dotWrap .dot6 .dot_text li{position: absolute;right: 0;bottom: 2px;}
.section3_dotWrap .dot6 .dot_text em{bottom: -2px;right: 0;}

.section4_dotWrap .dot0 {left: 45%;top: 43%;}
.section4_dotWrap .dot0 .dot_text{width: 460px;height: 1px;right: 15px;bottom: 15px;border-left: 0;border-bottom: 0;}
.section4_dotWrap .dot0 .dot_text li{position: absolute;left: 0;bottom: 4px;}
.section4_dotWrap .dot0 .dot_text em{top: -2px;left: 0;}
.section4_dotWrap .dot1 {left: 30%;top: 55%;}
.section4_dotWrap .dot1 .dot_text{width: 255px;height: 61px;right: 15px;top: 15px;border-left: 0;border-top: 0;}
.section4_dotWrap .dot1 .dot_text li{position: absolute;left: 0;bottom: 2px;}
.section4_dotWrap .dot1 .dot_text em{bottom: -2px;}
.section4_dotWrap .dot2 {right: 26%;bottom: 14%;}
.section4_dotWrap .dot2 .dot_text{width: 825px;height: 1px;right: 15px;bottom: 15px;border-left: 0;border-bottom: 0;}
.section4_dotWrap .dot2 .dot_text li{position: absolute;left: 0;bottom: 4px;}
.section4_dotWrap .dot2 .dot_text em{top: -2px;left: 0;}
.section4_dotWrap .dot3 {left: 58%;top: 50.5%;}
.section4_dotWrap .dot3 .dot_text{width: 333px;height: 1px;left: 15px;bottom: 15px;border-left: 0;border-bottom: 0;}
.section4_dotWrap .dot3 .dot_text li{position: absolute;right: 0;bottom: 4px;}
.section4_dotWrap .dot3 .dot_text em{top: -2px;right: 0;}

.section3_dotWrap .dot2,.section3_dotWrap .dot5,.section3_dotWrap .dot7,
.section4_dotWrap .dot4,.section4_dotWrap .dot5,.section4_dotWrap .dot6,.section4_dotWrap .dot7
 {display: none;}

/** 轮播图片弹出层 [[ **/
.pop_swiper {position: fixed;left: 0;top: 0;width: 100%;height: 100%;z-index: 5;}
.swiperClose {position: absolute;right: 5%;bottom: 15%;z-index: 1000; cursor: pointer; width: 6%;}
.percentW {width: 100%;}
.pop_swiperTxt {position: absolute;top: 0;left: 0;z-index: 2;}
.pop_swiperTxt .pop_swiperTitle {width: 90%;}
.pop_swiperTxt h4 {font-size: 20px;text-align: right;margin: 0;padding: 20px 12% 0px 22%;box-sizing: border-box;color: #fff;}
.pop_swiperTxt p{ display: none; font-size: 13px;padding: 20px 12% 20px 22%;box-sizing: border-box;width: 77%;line-height: 200%;text-align: left;margin-left: auto;color: #fff;margin-right: 0;}
.pop_swiperborderLeft {position: absolute;top: 31%;height: 100%;display: block;z-index: 39;right: 58%;}
.arrow-left {background: url(../img/pop_swiperLeft.png) no-repeat;position: absolute;left: 0%;top: 50%;margin-top: -20px;width: 41px;height: 41px;z-index: 10;z-index: 2;}

.arrow-right {background: url(../img/pop_swiperRight.png) no-repeat;z-index: 1000;position: absolute;right: 15%;top: 50%;margin-top: -20px;width: 41px;height: 41px;}
.pop_swiper .nextPage{background: url('../img/pop_next_bg.png') center no-repeat; background-repeat: no-repeat;background-size: cover;}
/** 轮播图片弹出层 ]] **/

/** 宽度最小为780px **/
@media only screen and (min-width:1400px){
	.parameter .para {width: 13%;margin: 0 1%;}
	.parameter .ptit {font-size: 1.4rem;}
	.section6 .img,.section6 .swicon{ margin-left: 18%;}
	.section6 .swiper-prev {top: -15%;}
	.section6 .swiper-next {bottom: -51%;}
	.section4 .s4_tit{ top: 14%; width: auto; left: 9%;}
	.section4 .s4_ptit{left: 14.5%; top: 28%;font-size: 1rem;}
	.section3 .s3_ptit{top: 29%; font-size: 1rem;}
	.section3 .s3_tit {width: auto;left: 8%;top: 14%;}
	.section3_dotWrap .dot1 .dot_text {width: 622px;}
	.section3_dotWrap .dot3 .dot_text {width: 372px;}
	.section3_dotWrap .dot4 .dot_text {width: 392px;}
	.section3_dotWrap .dot0 .dot_text {width: 324px;}
	.section3_dotWrap .dot6 .dot_text {width: 360px;}
	
}
@media only screen and (max-width:1370px){
	.s_tit {top: 18%;}
	.parameter .para {top: 28%;}
	.section6 .img {width: 850px;}
	#main_a a {margin-top: 16px;}
}



.section_tabs {position: absolute;left: 8%;top: 83%;z-index: 3;}
.section_tabs p {display: inline-block;margin: 0 5px;border-left: 4px solid #9c866c;width: 26%;}

.section_tabs p a {
	display: block;
}

.section7 {
	background-image: url(../img/s7_bg.jpg);
}

.s7_text {
	position: absolute;
	left: 75%;
	top: 22%;
	right: 0%;
	color: white;
	z-index: 3;
}

.s7_text .s7_title {
	margin: 0 auto;
}

.s7_text h4 {
	font-size: 20px;
	margin: 15px 0;
	text-align: center;
}

.s7_text p {
	font-size: 16px;
	line-height: 200%;
	letter-spacing: 2px;
}

.s7_text .s1_video {
	width: 50%;
	position: relative;
	left: -5%;
}



.section7_dotWrap .dot1 {
	left: 1%;
	top: 27%;
}

.section7_dotWrap .dot2 {
	left: 4%;
	top: 48%;
}

.section7_dotWrap .dot3 {
	left: 9%;
	top: 33%;
}

.section7_dotWrap .dot4 {
	left: 14%;
	top: 40%
}

.section7_dotWrap .dot5 {
	left: 14%;
	top: 54.4%;
}

.section7_dotWrap .dot6 {
	left: 31%;
	top: 24.4%;
}
.section7_dotWrap .dot7 {
	left: 66%;
    top: 46.4%;
}
.section7_dotWrap .dot0 {
	left: 26%;
	top: 45%;
}


/*.section7 .section_tabs p,.section8 .section_tabs p,.section9 .section_tabs p{
	width: 40%;
}*/

.section8 {
	background-image: url(../img/s8_bg.jpg);
}

.s8_txt {
	width: 22.2%;
	position: absolute;
	left: 15.5%;
	top: 42%;
}

.s8_txt h4 {
	font-size: 22px;
}

.s8_txt ul {
	list-style: disc;
}

.s8_txt ul li {
	font-size: 16px;
	margin: 10px 0;
}

.section8_dotWrap .dot1 {
    left: 34.5%;
    top: 43.5%;
}

.section8_dotWrap .dot2 {
    left: 39%;
    top: 56%;
}

.section8_dotWrap .dot3 {
    left: 46%;
    top: 74%;
}

.section8_dotWrap .dot4 {
    left: 66%;
    top: 16%;
}

.section8_dotWrap .dot0 {
	left: 80%;
    top: 33%;
}

.section9 {
	background-image: url(../img/s9_bg.jpg);
}

.s9_txt {
	width: 22.4%;
	position: absolute;
	right: 7.4%;
	top: 67%;
	color: white;
}

.s9_txt h4 {
	font-size: 22px;
}

.s9_txt p {
	font-size: 16px;
}

.section9_dotWrap .dot1 {
    left: 16%;
    top: 61%;
}

.section9_dotWrap .dot2 {
    left: 57%;
    top: 29%;
}

.section9_dotWrap .dot0 {
    left: 81%;
    top: 38%;
}

.section10 {
	background-image: url(../img/s10_bg.jpg);
}


/*s10地图*/

.mapWrap {
	width: 100%;
	overflow: hidden;
	height: 100%;
}

.mapPic {
	width: 75.78%;
	height: 950px;
}

.sectionMap {
	margin: 0 auto;
	width: 94%;
	height: 100%;
}

.mapDealer {
	width: 24.22%;
	background-image: url(../img/mapDealerBg.jpg);
	background-position-y: bottom;
	background-repeat: repeat-x;
	background-color: #282828;
	height: 100%;
	overflow: hidden;
	padding: 5% 2% 20px;
	box-sizing: border-box;
	opacity: 0;
}

.mapDealer .video_k {
	background-color: #efefef;
}

.mapDealerDetail {
	height: 80%;
	overflow-y: scroll;
	overflow-x: hidden;
	padding-right: 20px;
}

.mapDealerDetail .city_lie {
	margin-top: 35px;
}

.mapDealerDetail .city_lie p {
	font-size: 12px;
	color: #757575;
}

.mapDealerDetail .city_lie .p_tit {
	font-size: 14px;
	color: white;
}

.mapDealerDetail .city_lie .p_time.active {
	color: white;
	background: #a79585;
	padding: 5px;
	box-sizing: border-box;
	margin: 1px 0;
}


/*section11*/

.section11 {
	background: url(../img/s11_bg.jpg);
	background-size: cover;
}

.s11PicWrap {
	width: 85%;
	/*margin: 70px auto 0;*/
	margin: 170px 0 0 auto;
	height: 462px;
}
.s11PicWrap .swiper-container,.s11PicWrap .swiper-wrapper{
	height: 100%;
}
.s11PicWrap .swiper-slide {
	height: 100%;
	-webkit-transition: 300ms;
	-moz-transition: 300ms;
	-ms-transition: 300ms;
	-o-transition: 300ms;
	transition: 300ms;
	-webkit-transform: scale(0.8);
	-moz-transform: scale(0.8);
	-ms-transform: scale(0.8);
	-o-transform: scale(0.8);
	transform: scale(0.8)
}

.s11PicWrap .swiper-slide-visible {
	-webkit-transform: scale(0.8);
	-moz-transform: scale(0.8);
	-ms-transform: scale(0.8);
	-o-transform: scale(0.8);
	transform: scale(0.8);
}
.s11PicWrap .swiper-slide-visible.suoxiaoLeft{
	-webkit-transform: scale(0.6);
	-moz-transform: scale(0.6);
	-ms-transform: scale(0.6);
	-o-transform: scale(0.6);
	transform: scale(0.6);
	transform-origin: right;
}
.s11PicWrap .swiper-slide-visible.suoxiaoRight{
	-webkit-transform: scale(0.6);
	-moz-transform: scale(0.6);
	-ms-transform: scale(0.6);
	-o-transform: scale(0.6);
	transform: scale(0.6);
	transform-origin: left;
}

/*.s11PicWrap .swiper-slide-visible:first-child {
	-webkit-transform: scale(0.4);
	-moz-transform: scale(0.4);
	-ms-transform: scale(0.4);
	-o-transform: scale(0.4);
	transform: scale(0.4);
}*/

.s11PicWrap .swiper-slide-visible .s11PicBlack {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: url(../img/s11_black.png) repeat;
}

.s11PicWrap .swiper-slide-active {
	top: 0;
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-ms-transform: scale(1);
	-o-transform: scale(1);
	transform: scale(1);
}

.s11PicWrap .swiper-slide-active .s11PicBlack {
	position: static;
}

.s11Pic {
	/*position: relative;*/
	overflow: hidden;
	background: #585858;
	display: block;
}
.s11Pic .percentW img.percentW{
	width: 125%;
    position: relative;
    left: -25%;
}
.s11_txt {
	/*background: url(../img/s11_txtBg.png) no-repeat;*/
	background: -webkit-linear-gradient(-88deg, #131313 168px, #020202 0px);
	background: -moz-linear-gradient(-88deg, #131313 168px, #020202 0px);
	background: -ms-linear-gradient(-88deg, #131313 168px, #020202 0px);
	background: -o-linear-gradient(-88deg, #131313 168px, #020202 0px);
	background: linear-gradient(-88deg, #131313 168px, #020202 0px);
	/*position: absolute;*/
	margin-top: -10px;
	/*bottom: 0;
	left: 0;
	width: 100%;*/
	position: relative;
	z-index: 2;
	padding: 20px;
	box-sizing: border-box;
}

.s11_txtTitle {
	font-size: 18px;
	color: white;
	font-weight: normal;
	margin: 0;
	height: 48px;
}

.s11_txtTitle span {
	display: block;
	border-left: 2px solid white;
	padding-left: 10px;
}

.s11_txtContent {
	font-size: 13px;
	color: white;
	margin-top: 30px;
	line-height: 200%;
	height: 78px;
	overflow: hidden;
}

.s11_txtBottom {
	margin-top: 30px;
	overflow: hidden;
	color: #676767;
	font-size: 12px;
	position: relative;
	height: 30px;
	width: 100%;
}

.s11_txtBottom .s11_txtOrigin {
	position: absolute;
	left: 0;
	bottom: 0;
}

.s11_txtBottom .s11_txtMore {
	position: absolute;
	right: 0;
	bottom: 0;
	cursor: pointer;
}

.s11_txtBottom a {
	display: block;
	padding: 5px;
	border: 2px solid #676767;
	color: #676767;
	text-decoration: none;
	width: 50px;
	text-align: center;
}

.section14 {
	background-image: url("../img/s14_bg.png")
}

.s14_txt,
.s10_txt {
	width: 11%;
	position: absolute;
	top: 9%;
	left: 19.5%;
}




/*滚动条样式*/

.jspVerticalBar {
	width: 6px;
}

.jspTrack,
.jspVerticalBar {
	background: none;
	border-left: 1px solid #ffffff;
	border-right: 1px solid #020202;
}

.jspDrag {
	background: #f9ebdc;
}






/*菜单*/
.menu {position: fixed; background: #030714;bottom: 0%;z-index: 10;width: 80%;right: -1%;-webkit-transform: skew(-20deg);-o-transform: skew(-20deg);-ms-transform: skew(-20deg);-moz-transform: skew(-20deg);transform: skew(-20deg);box-shadow: 0px 0px 3px 2px #0f4b67;}
.menu>li {float: left;display: inline-block;cursor: pointer;color: white;font-size: 18px; line-height: 100%;text-align: center;width: 11%;box-sizing: border-box;box-shadow: 7px 1px 11px #115270; margin-right: 6px;transform-origin: center;}
.menu>li>a {-webkit-transform: skew(20deg);-o-transform: skew(20deg);-ms-transform: skew(20deg);-moz-transform: skew(20deg);transform: skew(20deg);display: inline-block;}
.menu li a {padding: 13px 5px;width: 100%;color: white;text-decoration: none;}
.menu li.active a {color: #21c0fc;}
.menu>li:last-child{box-shadow:none;}




/*menuHover*/

.menuShow:hover {
	position: absolute;
	width: 100%;
	right: 0;
}

.menuShow:hover .secondMenuWrap.hide {
	display: block;
	-webkit-animation: menuShow 0.8s;
	-o-animation: menuShow 0.8s;
	-ms-animation: menuShow 0.8s;
	-moz-animation: menuShow 0.8s;
	animation: menuShow 0.8s;
}
.secondMenu>li:hover>a>span{
	padding: 5px;
	box-sizing: border-box;
}
.secondMenu>li:hover .percent{
	display: none;
}
.secondMenu>li:hover .menu_opacity{
	opacity: 1;
}
.secondMenu li:hover .thirdMenuWrap.hide {
	display: block;
	-webkit-animation: menuShow 0.8s;
	-o-animation: menuShow 0.8s;
	-ms-animation: menuShow 0.8s;
	-moz-animation: menuShow 0.8s;
	animation: menuShow 0.8s;
}

@-webkit-keyframes menuShow
/* Safari and Chrome */

{
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

@-moz-keyframes menuShow
/* Safari and Chrome */

{
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

@-o-keyframes menuShow
/* Safari and Chrome */

{
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

@-ms-keyframes menuShow
/* Safari and Chrome */

{
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

@keyframes menuShow {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}




/*视频弹出*/

.pop {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	z-index: 11;
}

.pop_close {
	position: absolute;
	right: 10px;
	top: 10px;
	z-index: 12;
	cursor: pointer;
}





/**/

.safeDetail_back {
	position: fixed;
	top: 83%;
	left: 27.5%;
	border-left: 4px solid #9c866c;
	width: 8.4%;
	height: 6.5%;
}


/*quan*/

.quan {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	animation: myfirst2 0.8s infinite;
	animation-direction: infinite;
	-webkit-animation: myfirst2 0.8s infinite;
	-webkit-animation-direction: infinite;
}

@-webkit-keyframes myfirst2
/* Safari and Chrome */

{
	from {
		height: 100%;
		left: 0%;
		top: 0%;
		opacity: 1;
	}
	to {
		height: 140%;
		left: -20%;
		top: -20%;
		opacity: 0;
	}
}

@-moz-keyframes myfirst2
/* Safari and Chrome */

{
	from {
		height: 100%;
		left: 0%;
		top: 0%;
		opacity: 1;
	}
	to {
		height: 140%;
		left: -20%;
		top: -20%;
		opacity: 0;
	}
}

@-o-keyframes myfirst2
/* Safari and Chrome */

{
	from {
		height: 100%;
		left: 0%;
		top: 0%;
		opacity: 1;
	}
	to {
		height: 140%;
		left: -20%;
		top: -20%;
		opacity: 0;
	}
}

@-ms-keyframes myfirst2
/* Safari and Chrome */

{
	from {
		height: 100%;
		left: 0%;
		top: 0%;
		opacity: 1;
	}
	to {
		height: 140%;
		left: -20%;
		top: -20%;
		opacity: 0;
	}
}

@keyframes myfirst2 {
	from {
		height: 100%;
		left: 0%;
		top: 0%;
		opacity: 1;
	}
	to {
		height: 140%;
		left: -20%;
		top: -20%;
		opacity: 0;
	}
}

