

ul {
	list-style: none;
}

.fl {float: left;}

.fr {float: right;}

a:focus {outline: none;}

.hide {display: none !important;}

.hide_v {visibility: hidden;}
.opcity{opacity: 0;}

.logo {width: 20%;position: fixed;top: 3%;left: 2%;z-index: 20;}


.section,
.pop_section {
	overflow: hidden;
	background-position: center;
	background-size: 100% auto;
}

.pop_section {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}


.loading {
	background-image: url(../img/l_bg.jpg);
	background-repeat: repeat;
	background-color: black;
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 10;
}

.loadingTitle {
	margin: 15% auto 1%;
}
.loadingTu {
	margin: 2% auto 5%;
}

.loadingCar {
	position: relative;
	border-top:2px solid  #fefefe;
}

.loadingCarPic {
	position: absolute;
	left: -38%;
	top: 0px;
	width: 41%;
	margin-top: -2.8%;
}
.l_top_lbg{ display: inline-block;position: absolute;top: 0;left: 0;width: 0;height: 0;border-top: 450px solid rgba(26,82,116,1);border-right: 120px solid transparent;z-index: 4;}   
.l_top_rbg{ display: inline-block;position: absolute;bottom: 0;right: 0;width: 0;height: 0;border-bottom: 450px solid rgba(26,82,116,1);border-left: 120px solid transparent; z-index: 4;}

.l_top_left1{display: inline-block;position: absolute;top: 0;left: 0;width: 0;height: 0;border-top: 500px solid rgba(33,192,255,0.3);border-right: 140px solid transparent;-webkit-animation: myfirst2 0.8s infinite ease-in-out; z-index: 1; }
.l_top_left2{display: inline-block;position: absolute;top: 0;left: 0;width: 0;height: 0;border-top: 550px solid rgba(33,192,255,0.2);border-right: 160px solid transparent;-webkit-animation: myfirst2 0.8s infinite ease-in-out; z-index: 2; }
.l_top_left3{display: inline-block;position: absolute;top: 0;left: 0;width: 0;height: 0;border-top: 600px solid rgba(33,192,255,0.1);border-right: 180px solid transparent;-webkit-animation: myfirst2 0.8s infinite ease-in-out; z-index: 3; }

.l_top_right1{display: inline-block;position: absolute;bottom: 0;right: 0;width: 0;height: 0;border-bottom: 500px solid rgba(33,192,255,0.3);border-left: 140px solid transparent; z-index: 1; }
.l_top_right2{display: inline-block;position: absolute;bottom: 0;right: 0;width: 0;height: 0;border-bottom: 550px solid rgba(33,192,255,0.2);border-left: 160px solid transparent; z-index: 2; }
.l_top_right3{display: inline-block;position: absolute;bottom: 0;right: 0;width: 0;height: 0;border-bottom: 600px solid rgba(33,192,255,0.1);border-left: 180px solid transparent; z-index: 3; }
       
.l_top_left:before{z-index:-2;-webkit-animation:pulseAnimation 3s infinite;-moz-animation:pulseAnimation 3s infinite;animation:pulseAnimation 3s infinite}
.l_top_left:after{z-index:-1;-webkit-animation:pulseAnimation 3s .75s infinite;-moz-animation:pulseAnimation 3s .75s infinite;animation:pulseAnimation 3s .75s infinite}
.l_top_left:after,.l_top_left:before{background:rgba(75,168,46,.4);-webkit-animation-duration:4s;-moz-animation-duration:4s;animation-duration:4s}
#msBackground{font-family:'Segoe UI',Tahoma,Helvetica,Sans-Serif;position:fixed;background-color:inherit !important;z-index:10000}
#msSmallText{font-family:'宋体';width: 25%; text-align: center; font-size:30px;position:fixed; margin-left:20%; left:100px; top:32% !important; color:white;white-space:nowrap;opacity:0;z-index:10003}
#msBigText{font-family:'宋体';font-size:60px;position:fixed;margin-left:40%;left:100px; top:25% !important; color:white;white-space:nowrap;opacity:0;z-index:10002}
#jinDu{position:fixed;margin-left:46%; top:44% !important; color: #8c8c8e; border:2px solid #8c8c8e; font-size: 2.2rem; font-weight: bold; text-align: center; line-height: 90px;font-style:italic;
width: 90px; height: 90px;-moz-border-radius: 60px;-webkit-border-radius: 60px;border-radius: 60px; }
#jiaZaiz{position:fixed;margin-left:47.5%; top:61% !important; color: #21c0fc; font-weight: 1.2rem; font-family: '黑体';}
.msImgx1{position:fixed;top:-75px;opacity:.5;width:75px;z-index:10001}
.msImgx2{position:fixed;top:-100px;opacity:.5;width:100px;z-index:10001}
.msImgx3{position:fixed;top:-125px;opacity:.5;width:125px;z-index:10001}
.msImgx4{position:fixed;top:-150px;opacity:.5;width:150px;z-index:10001}
#msHint{cursor:pointer;font-family:'Segoe UI',Tahoma,Helvetica,Sans-Serif;font-size:15px;color:white;white-space:nowrap;display:none;position:fixed;z-index:100001}

.content{position:relative;top:150px;display:block}
.content a{display:block;margin-top:10px}
h2{font-size:30px;font-weight:normal;color:#662d91}
#Close{position:fixed;z-index:1999999;color:white}


/** fullpage **/
#pageContain { overflow: hidden;}
.page { display: none; width: 100%; height: 100%; overflow: hidden; position: absolute; top: 0; left: 0;}
.contain { width: 100%; height: 100%; display: none; position: relative; z-index: 0;}
.current .contain, .slide .contain { display: block;}
.current { display: block; z-index: 1;}
.slide { display: block; z-index: 2;}
.swipe { display: block; z-index: 3; transition-duration: 0ms !important; -webkit-transition-duration: 0ms !important;}
.page1 { background: #37c1e3;}
.page2 { background: #009922;}
.page3 { background: #992211;}
.page4 { background: #ff00ff;}
.page5 { background: #00ff00;}
.page6 { background: #22ffff;}
#navBar { z-index: 3; position: absolute; top: 30%; right: 3%;}
#navBar .active { background: #ccc;}
#navBar li { cursor: pointer; margin-bottom: 10px; transition: all .7s ease; border-radius: 50%; line-height: 40px; text-align: center; width: 40px; height: 40px;}

.section { position: relative;}
/** nextPage [[**/
.nextPage{ display: inline-block; text-align: center;position: absolute;bottom: 0;right: -30%;width: 20%;z-index: 4;height: 100%;background-size: cover !important;}
.nextPage a{ margin-top: 101%; margin-left: 28%;display: inline-block;}
.nextPage img{ vertical-align: middle;-webkit-animation: myfirst3 1.5s linear 0ms infinite normal forwards;}
/** nextPage ]]**/

/*section1*/
.section1 {background-image: url('../img/s1_bg.jpg');}
.section1 .s1_ztit{position: absolute;top: 15.5%;left: -25%;width: 21%;}
.section1 .s1_ftit{position: absolute;width: 17%;right: -20%;top: 15%;}
.section1 .funtec{ position: absolute; bottom: 11%; left: -30%;}
.section1 .logo_foot{position: absolute; right: 20%; bottom: 11%;}
.section1 .nextPage{background: url('../img/next1_bg.png') center no-repeat; background-repeat: no-repeat;}
.section1 .s1_video {width: 30%; position: absolute;left: 15%;top: 35%;}
.section1 .s1_video .videoImg{cursor: pointer;width: 33%;background: url('../img/videoImg.png');margin-bottom: 2%;text-align: center;color: #fff;background-size: cover;padding: 1% 0% 1% 7%;font-size: 1.2rem;font-family: '黑体';}
.section1 .s1_video .s1_p1{ color: #fff;margin-top: 7%;margin-bottom: -5px; font-family: 'Microsoft YaHei'; font-size: 0.95rem;}
.section1 .s1_video .s1_p2{ color: #fff; font-size: 0.8rem;}
.section1 .s1_video .s1_p3{color: #fff;font-size: 1.4rem;margin-bottom: 1%;margin-top: 2%;}
.section1 .s1_video .s1_p4{color: #fff;font-size: 0.8rem;}
.section1 .s1_img{width: 155%; margin-top: 10%;}

.section1 .s1_video p span{font-size: 2.2rem;color: #21c0fc;font-family: 'Arial';font-weight: bold;display: inline-block;margin-right: 3px;}

/*section2*/
.section2 {background-image: url('../img/s2_bg.jpg');}
.section2 .s2_tit{ width: 40%;top: 15%;left: -40%;}
.s2_quan {position: absolute;top: 0;left: 0;height: 100%;animation: myfirst2 0.8s infinite;animation-direction: infinite;-webkit-animation: myfirst2 0.8s infinite;-webkit-animation-direction: infinite;}
.section2 .nextPage{background: url('../img/next2_bg.png') center no-repeat; background-repeat: no-repeat;}
/**section2 pop**/
.sec2_pop{background: url('../img/s2_1_bg.jpg') no-repeat;background-size: cover;position: fixed;top: 0;left: 0;width: 100%;height: 100%;overflow: hidden;
    background-position: center;
    background-size: 100% auto;}
.sec2_pop .pop_tab{background: url('../img/next2_1_bg.png') no-repeat;background-size: cover; position: absolute; right: -45%; top: 0; height: 100%;width: 45%;}
.sec2_pop .s2_pop_tit {width: 27%;position: absolute;top: 14%;left: -28%;}
.sec2_pop .pop_tab .tab{color: #fff;text-align: center;}
.sec2_pop .pop_tab .tab .pop_tit{width: 51%;font-size: 1.6rem;text-align: left;margin-left: 40%;margin-top: 20%;min-height: 82px;}
.sec2_pop .pop_tab .tab img{width: 68%;margin-left: 23%;margin-top: -2%;}
.sec2_pop .pop_tab .tab .pop_con{width: 70%;margin-left: 23%;text-align: left;font-size: 0.9rem;margin-top: -7%;}
.sec2_pop .pop_tab .s2_pop_close{position: absolute;bottom: 10%;right: 14%;width: 18%; z-index: 9; cursor: pointer;}
.sec2_pop .section2_dotWrap .dot4 {left: 15%;top: 57%; display: block;}
.sec2_pop .section2_dotWrap .dot1 {left: 21.2%;top: 67%;}
.sec2_pop .section2_dotWrap .dot2 {left: 43.5%;top: 38%;}
/**section2_2**/
.section2_2{background: url('../img/sec2_2_pop_bg.jpg') no-repeat;background-size: cover;}
.section2_2 .s_tit{width: 32%;left: -32%;}
.tabPop{ margin-top: 10%;margin-left: 17%;width: 65%;display: inline-block;position: relative;height: 62%;}
.tabPop .c_d{display: none;color: #fff;font-size: 0.8rem;}
.tabPop .c_d .sec2_2_car{position: absolute;right: 0;top: -1%;width: 56%;}
.tabPop .c_d .sec2_2_w{position: absolute;top: 34%;left: 0; width: 42%;}
.tabPop .c_d .sec2_2_w img{width: 40%;}
.tabPop .c_d .sec2_2_w .tit{font-size: 1.2rem;margin: 15px 0 1%;}
.tabPop .tab{width: 50%;position: absolute;bottom: -13%;left: 47%;}
.tabPop .tab li{float: left;width: 26%;color: #fff;text-align: center;cursor: pointer;opacity: 0.6;margin-right: 4%;}
.tabPop .tab li img{width: 70%;display: inline-block;z-index: 1;margin-top: -7%;}
.tabPop .tab li.cur{background: url('../img/s2_2_cbg.png') no-repeat;background-size: contain;opacity: 1;}
.tabPop .tab li p{font-size: 0.8rem;color: #21c0fc; margin-top: -4px;}
.tabPop .on{display:block;}
.section2_2 .nextPage{right: 0%; background: url('../img/next2_2_pop.png') center no-repeat;background-repeat: no-repeat;}
.tabPop .c_d em{color: #21c0fc;font-weight: bold;font-size: 1.4rem;margin-right: 2px;}
.tabPop .c_d .car1_j1{position: absolute;right: 38.5%;top: 43%;z-index: 2;font-weight: bold;}
.tabPop .c_d .car1_j2{position: absolute;right: 30%;top: 50%;z-index: 2;font-weight: bold;}
.tabPop .c_d .car1_j3{position: absolute;right: 5%;top: 16%;z-index: 2;font-weight: bold;}
.tabPop .c_d .car1_j4{position: absolute;right: 44%;top: 36%;z-index: 2;font-weight: bold;}
.tabPop .c_d .car1_j span{ background: #000;display: inline-block;}

/**section2_3**/
.section2_3{background: url('../img/s2_3_bg.jpg') no-repeat;background-size: cover;}
.section2_3 .s2_3_tit{width: 75%;top: 16%; left: -75%;}
.section2_3 .nextPage {background: url('../img/next2_3_bg.png') center no-repeat;background-repeat: no-repeat;}

/**section2_4**/
.section2_4{background: url('../img/s2_4_bg.jpg') center no-repeat;background-size: cover;}
.section2_4 .s2_4_tit{width: 38%;top: 16%; left: -36%;}
.section2_4 .sec2_4con{position: absolute;left: 52%;top: 18%;}
.section2_4 .sec2_4con ul li{float: left;width: 28%;margin-right: 6%;}
.section2_4 .sec2_4con ul li img{border: 2px solid #178ab8;width: 100%;}
.section2_4 .sec2_4con ul li p{color: #21c0fc; font-size: 0.8rem;}
.section2_4 .sec2_4con ul li .p1{font-size: 1rem;margin-top: 10px;}
.section2_4 .nextPage {background: url('../img/next2_4_bg.png') center no-repeat;background-repeat: no-repeat;}


/*section3*/
.section3 {background-image: url('../img/s3_bg.jpg');}
.section3 .s3_tit{width: 36%; left: -39%; top: 15%;}
.section3 .nextPage{background: url('../img/next3_bg.png') center no-repeat; background-repeat: no-repeat;}

/*section4*/
.section4 {background-image: url('../img/s4_bg.jpg');background-position: bottom;}
.section4 .s4_tit{width: 42%;left: -42%;top: 15%;}
.section4 .nextPage{background: url('../img/next4_bg.png') center no-repeat; background-repeat: no-repeat;}

/*section5*/
.section5 {background-image: url('../img/s5_bg.jpg');}
.section5 .nextPage{background: url('../img/next4_bg.png') center no-repeat; background-repeat: no-repeat;background-size: cover;}
.section5 .clczzn{cursor: pointer; color: #21c0fc; display: INLINE-BLOCK;border: 1px solid #21c0fc;text-align: center; padding: 3px 0;margin-top: 5px; width: 13%;margin: 0 1%;position: absolute;left: 68%;top: 20%;}
.section5 .clczzn:hover{ background:#21c0fc; color:#fff;}
.s_tit{width: 27%;position: absolute;top: 21%;left: 12%;}
.s_tit img{ width: 100%;}
.s_tit .tit_zi{ font-size: 0.8rem;width: 80%;margin-left: 13.5%;display:inline-blockmargin-top: 12px;line-height: 23px;margin-top: 10px; }
.section2_3 .tit_zi{margin-left: 7.2%;}
.section3 .tit_zi{margin-left: 16.8%;}
.section2_4 .tit_zi{margin-left: 14.5%;}
.s_tit .tit_zi .tit{font-size: 1.2rem;font-weight: 400; padding: 2% 0 1%;}
.color_f{ color: #fff;}
.section5 .s_tit{width: 27%;position: absolute;top: 16%;left: -28%;}
.parameter .ptit{font-size: 1.2rem;color: #21c0fc;border-bottom: 1px solid #21c0fc;font-weight: 400;}
.parameter .para{width: 15%;float: left;color: #fff;position: absolute;top: 32%;font-size: 0.8rem;}
.parameter .para1{left: -14%;}
.parameter .para1 p{ line-height: 42px;}
.parameter .para p span.pri{ font-size: 30px;display: inline-block;font-weight: bold;padding: 0 1%;}
.parameter .para .view{cursor:pointer;color: #fff; display: INLINE-BLOCK;width: 80%;border: 1px solid #fff;text-align: center;padding: 2% 0;margin-top: 5px;}
.parameter .para .view:hover{background: #21c0fc; color: #fff; border:1px solid  #21c0fc;}
.parameter .para2{left: -14%;}
.parameter .para3{left: -14%;}
.parameter .para4{left: -14%;}
.parameter .paraP .price{border-bottom: 1px solid #47657e; margin-bottom: 12px;width: 88%;}
.parameter .paraP p.con{ font-size: 14px; line-height: 26px; min-height: 160px; }

/*第五页弹层*/
.sec5_pop{background: url('../img/s5pop_bg.jpg') no-repeat;background-size: cover;position: fixed;top: 0;left: 0;width: 100%;height: 100%;z-index: 9999999;}
.sec5_pop .nextPage {background: url('../img/next5pop_bg.png') center no-repeat;background-repeat: no-repeat;}
.sec5_pop .s_tit{ top: 16%;}
.content_bg{width: 60%;height: 363px;margin-top: 15%;margin-left: 19%; }
.newsContent{text-align: center;border:1px solid #21c0fc; width: 98%;margin-top: 0;}
.nicescroll-cursors{ width: 10px !important; background-color: rgb(33, 192, 252) !important;}
#ascrail2000{ width: 10px !important; background: rgba(33,192,252,0.3) !important;}
.table-header table{ width: 100%;}
.table-header,.table-body{ color: #21c0fc;}
.table-body th{ width: 25%; border-right: 1px solid #21c0fc; border-bottom: 1px solid #21c0fc; line-height: 32px; }
.table-body td{ border-right: 1px solid #21c0fc; border-bottom: 1px solid #21c0fc; line-height: 32px;}
.table-header td{border-right: 1px solid #21c0fc; border-bottom: 1px solid #21c0fc;}
.table-header th{border-right: 1px solid #21c0fc; width: 25%;border-bottom: 1px solid #21c0fc; }
.newsContent .footer{ color: #21c0fc;}
.table-header .one{ height: 46px; background: rgba(33,192,252,0.3);}
.table-header td,.table-header th{line-height: 32px;}
.s5_pop_close{position: absolute;bottom: 10%;right: 5%;width: 7%;z-index: 999;cursor: pointer;}
table th{width: 16%;}
table td{ width: 12%;}

/*section6*/
.section6 {background-image: url('../img/s5_bg.jpg');}
.section6 .s6_tit{width: 16%;position: absolute;top: 8%;left: -16%;}
.section6 .nextPage{background: url('../img/next6_bg.png') center no-repeat; background-repeat: no-repeat;}
.section6 .img {width: 638px; height: 250px; margin-left: 16%; margin-top: 12%;position: relative;background: url('../img/yiny.png') center bottom no-repeat;background-size: 100%;padding-bottom: 18px;}
.section6 .img .swiper-slide a img{ width: 100%;}
.section6 .swiper-prev {cursor:pointer;background: url(../img/swiper-prev.png) no-repeat;position: absolute;left: 0%;top: -15%;width: 42px;height: 32px;z-index: 2;}
.section6 .swiper-next{cursor:pointer;background: url(../img/swiper-next.png) no-repeat;position: absolute;left: 0%;bottom: -56%;width: 42px;height: 32px;z-index: 2;}
.section6 .swiper-pagination{left: -4%;top: 37%;width: 13px;}
.section6 .swiper-pagination span{width: 13px;height: 13px;display: INLINE-BLOCK;float: left;margin-bottom: 5px;border: 2px solid #246a8f; cursor: pointer;}
.section6 .swiper-pagination .swiper-active-switch{border: 2px solid #21c0fc;}
.section6 .swicon{ margin-left: 16%; color: #fff; width: 67%;}
#main_title{ font-size: 1.4rem;}
#main_titf{ font-size: 0.8rem;}
#main_a a{color: #fff;border: 1px solid #fff;display: INLINE-BLOCK;text-align: center;padding: 3px 58px;font-size: 1rem;text-decoration: none;margin-top: 20px;}

/*section7*/
.section7 {background-image: url('../img/s7_bg.jpg');}
.section7 .s7_tit{width: 22%;position: absolute;top: 15%;left: -22%;}
/**留资**/
.form-style {width: 50%;height: 64%;margin: 0 auto;margin-top: 10.5%;}
.form-row {margin-bottom: 1.6%;}
.form-row label {margin-bottom: 5px;}
.form-row label,.searchFor {display: block;color: #21c0fc;}
.form-row input {font-size: 18px;width: 100%;background: none;text-align: center;color: #8b969c;height: 40px;outline: none;padding: 0px;vertical-align: middle;margin-bottom: 10px;border: 1px solid #8b969c;}
.note {display: inline-block;margin-left: 20px;font-size: 14px; color: #21c0fc;}
.form-row .txtArea,.form-row .txtSubPhone {display: inline-block;width: 25%;}
.form-row .txtPhone {display: inline-block;width: 47.1%;margin: 0 1%;}
.video_k {display: inline-block;background: none;width: 100%;height: 40px;margin-bottom: 10px;position: relative;box-sizing: border-box;cursor: pointer;font-size: 18px;vertical-align: middle;text-align: center;border: 1px solid #8b969c;}
.form-row.fl,
.form-row.fr {width: 49.5%;}
.video_k_top { display: inline-block;border-right: none;line-height: 40px;color: #8b969c;}
.video_k_icon {position: absolute;right: 20px;top: 0px;width: 20px;height: 100%;}
.section14 .video_k_icon {background: url(../img/s14down_arrow.png) no-repeat center;}
.selectList {overflow-y: scroll;height: 140px;width: 100%;display: none;position: absolute;top: 40px;left: -1px;background: white;border: 1px solid #ccc;border-top: none;box-sizing: border-box;z-index: 1;}
.selectList p {padding: 5px 10px;cursor: pointer;}
.selectList p:hover {background: #eb001d;color: white;}
.selectList p.active {background: #e10825;color: white;}
.video_k_show {display: block;}
.video_k_hide {display: none;}
#contact {display: inline-block;}
.form-bottom {position: relative;overflow: hidden; margin-bottom: 35px;padding-bottom: 35px; text-align: center;}
.btnSubmit {margin-right: -2%;display: inline-block;color: white;font-size: 18px;text-align: center;width: 160px;padding: 5px;
box-sizing: border-box;cursor: pointer;border: 1px solid #fff;text-decoration: none;float: right; margin-right: 1px;}
.btnSubmit:hover{ background: #21c0fc;border: 1px solid #21c0fc; color: #fff;}
.form-bottom .fl{ margin-left: 60px;}
.form-bottom .fr{ margin-right: 60px;}
.tip {position: absolute;font-size: 14px;color: rgba( 39, 39, 39);opacity: 0.5;top: 0; color: #21c0fc;}

/** 点点样式 **/
.section_dotWrap {position: absolute;left: 0%;top: 0%;width: 100%;height: 100%;z-index: 2;}
.section_dotWrap .dot {position: absolute;display: block;height: 30px;cursor: pointer; z-index: 2;}
.section_dotWrap .dot .dot_text {position: absolute;color: #21c0fc;border: 1px solid #21c0fc;font-style:normal}
.section_dotWrap .dot .dot_text em{width: 72px;height: 4px;background: #21c0fc;display:inline-block;position: absolute;}
.section2_dotWrap .dot0 {left: 38%;top: 60%;}
.section2_dotWrap .dot0 .dot_text{width: 355px;height: 48px;right: 15px;bottom: 15px;border-left: 0;border-bottom: 0;z-index: 1;}
.section2_dotWrap .dot0 .dot_text li{position: absolute;left: 0;top: -45%;}
.section2_dotWrap .dot0 .dot_text em{top: -2px;}
.section2_dotWrap .dot1 {left: 33.5%;top: 56%;}
.section2_dotWrap .dot1 .dot_text{ width: 295px;height: 85px;right: 15px;top: 15px;border-left: 0;border-top: 0;}
.section2_dotWrap .dot1 .dot_text li{position: absolute;left: 0;bottom: 2px;}
.section2_dotWrap .dot1 .dot_text em{bottom: -2px;}
.section2_dotWrap .dot4{ display: none;}
.section2_dotWrap .dot2 {left: 39.5%;top: 66%;}
.section2_dotWrap .dot2 .dot_text{width: 334px;height: 61px;left: 15px;top: 15px;border-right: 0;border-top: 0;}
.section2_dotWrap .dot2 .dot_text li{position: absolute;right: 0;bottom: 2px;}
.section2_dotWrap .dot2 .dot_text em{bottom: -2px;right: 0;}
.section2_dotWrap .dot3 {right: 36%;top: 37%;}
.section2_dotWrap .dot3 .dot_text{width: 285px;height: 85px;left: 15px;top: 15px;border-right: 0;border-top: 0;text-align: right;}
.section2_dotWrap .dot3 .dot_text li{position: absolute;right: 0;bottom: 2px;}
.section2_dotWrap .dot3 .dot_text em{bottom: -2px;right: 0;}

.section2_4_dotWrap .dot0 {left: 21%;top: 55%;}
.section2_4_dotWrap .dot0 .dot_text{width: 230px;height: 1px;right: 15px;bottom: 15px;border-left: 0;border-bottom: 0;}
.section2_4_dotWrap .dot0 .dot_text li{position: absolute;left: 0;top: -29px;}
.section2_4_dotWrap .dot0 .dot_text em{top: -2px;}
.section2_4_dotWrap .dot1 {left: 20%;top: 62%;}
.section2_4_dotWrap .dot1 .dot_text{width: 186px;height: 1px;right: 15px;bottom: 15px;border-left: 0;border-bottom: 0;}
.section2_4_dotWrap .dot1 .dot_text li{position: absolute;left: 0;bottom: 2px;}
.section2_4_dotWrap .dot1 .dot_text em{top: -2px;}
.section2_4_dotWrap .dot2 {left: 35%;top: 59%;}
.section2_4_dotWrap .dot2 .dot_text{width: 390px;height: 94px;right: 15px;top: 15px;border-left: 0;border-top: 0; z-index: 1;}
.section2_4_dotWrap .dot2 .dot_text li{position: absolute;left: 0;bottom: 2px;}
.section2_4_dotWrap .dot2 .dot_text em{bottom: -2px;}
.section_dotWrap .dot_text li{background: #000; padding: 0 1%;}

.section2_4_dotWrap .dot3 {left: 48%;top: 47.5%;}
.section2_4_dotWrap .dot3 .dot_text{width: 358px;height: 40px;left: 15px;top: 15px; border-right: 0;border-top: 0;}
.section2_4_dotWrap .dot3 .dot_text li{position: absolute;right: 0;bottom: 4px;}
.section2_4_dotWrap .dot3 .dot_text em{bottom: -2px;right: 0;}
.section2_4_dotWrap .dot4 {left: 61.5%;top: 79%;}
.section2_4_dotWrap .dot4 .dot_text{width: 220px;height: 1px;left: 15px;top: 15px;border-right: 0;border-top: 0;}
.section2_4_dotWrap .dot4 .dot_text li{position: absolute;right: 0;bottom: 2px;}
.section2_4_dotWrap .dot4 .dot_text em{bottom: -2px;right: 0;}

.section3_dotWrap .dot0 {right: 40.8%;top: 44%;}
.section3_dotWrap .dot0 .dot_text{width: 318px;height: 1px;left: 15px;bottom: 15px;border-left: 0;border-bottom: 0;}
.section3_dotWrap .dot0 .dot_text li{position: absolute;right: 0;bottom: 4px;}
.section3_dotWrap .dot0 .dot_text em{top: -2px;right: 0;}
.section3_dotWrap .dot1 {left: 45%;top: 59%;}
.section3_dotWrap .dot1 .dot_text{width: 438px;height: 1px;right: 15px;bottom: 15px;border-left: 0;border-bottom: 0;}
.section3_dotWrap .dot1 .dot_text li{position: absolute;left: 0; bottom: 2px;}
.section3_dotWrap .dot1 .dot_text em{top: -2px;}
.section3_dotWrap .dot3 {left: 32%;top: 64%;}
.section3_dotWrap .dot3 .dot_text{width: 260px;height: 61px;right: 15px;top: 15px;border-left: 0;border-top: 0;}
.section3_dotWrap .dot3 .dot_text li{position: absolute;left: 0;bottom: 2px;}
.section3_dotWrap .dot3 .dot_text em{bottom: -2px;}
.section3_dotWrap .dot4 {left: 54%;top: 28.5%;}
.section3_dotWrap .dot4 .dot_text{width: 358px;height: 1px;left: 15px;bottom: 15px;border-left: 0;border-bottom: 0;}
.section3_dotWrap .dot4 .dot_text li{position: absolute;right: 0;bottom: 4px;}
.section3_dotWrap .dot4 .dot_text em{top: -2px;right: 0;}
.section3_dotWrap .dot6 {left: 55.5%;top: 66%;}
.section3_dotWrap .dot6 .dot_text{width: 334px;height: 61px;left: 15px;top: 15px;border-right: 0;border-top: 0;}
.section3_dotWrap .dot6 .dot_text li{position: absolute;right: 0;bottom: 2px;}
.section3_dotWrap .dot6 .dot_text em{bottom: -2px;right: 0;}

.section4_dotWrap .dot1 {left: 45%;top: 31%;}
.section4_dotWrap .dot1 .dot_text{width: 445px;height: 118px;right: 15px;top: 15px;border-left: 0;border-top: 0;}
.section4_dotWrap .dot1 .dot_text li{position: absolute;left: 0; bottom: 4px;}
.section4_dotWrap .dot1 .dot_text em{bottom: -2px;left: 0;}
.section4_dotWrap .dot4 {left: 30%;top: 44%;}
.section4_dotWrap .dot4 .dot_text{width: 240px;height: 61px;right: 15px;top: 15px;border-left: 0;border-top: 0;}
.section4_dotWrap .dot4 .dot_text li{position: absolute;left: 0;bottom: 2px;}
.section4_dotWrap .dot4 .dot_text em{bottom: -2px;}
.section4_dotWrap .dot2 {right: 26%;bottom: 16%;}
.section4_dotWrap .dot2 .dot_text{width: 810px;height: 1px;right: 15px;bottom: 15px;border-left: 0;border-bottom: 0;}
.section4_dotWrap .dot2 .dot_text li{position: absolute;left: 0;bottom: 4px;}
.section4_dotWrap .dot2 .dot_text em{top: -2px;left: 0;}
.section4_dotWrap .dot3 {left: 55.5%;top: 32%;}
.section4_dotWrap .dot3 .dot_text{width: 333px;height: 1px;left: 15px;bottom: 15px;border-left: 0;border-bottom: 0;}
.section4_dotWrap .dot3 .dot_text li{position: absolute;right: 0;bottom: 4px;}
.section4_dotWrap .dot3 .dot_text em{top: -2px;right: 0;}

.section3_dotWrap .dot2,.section3_dotWrap .dot5,.section3_dotWrap .dot7,
.section4_dotWrap .dot0,.section4_dotWrap .dot5,.section4_dotWrap .dot6,.section4_dotWrap .dot7
 {display: none;}

/** 轮播图片弹出层 [[ **/
.pop_swiper {position: fixed;left: 0;top: 0;width: 100%;height: 100%;z-index: 5;}
.swiperClose {position: absolute;right: 5%;bottom: 15%;z-index: 1000; cursor: pointer; width: 6%;}
.percentW {width: 100%;}
.pop_swiperTxt {position: absolute;top: 5%;right: 10%;z-index: 2;width: 360px;}
.pop_swiperTxt .pop_swiperTitle {width: 90%;}
.pop_swiperTxt h4 {font-size: 20px;text-align: right;margin: 0;padding: 20px 12% 0px 22%;box-sizing: border-box;color: #fff;}
.pop_swiperTxt p{ display: none; font-size: 13px;padding: 20px 12% 20px 22%;box-sizing: border-box;width: 77%;line-height: 200%;text-align: left;margin-left: auto;color: #fff;margin-right: 0;}
.pop_swiperborderLeft {position: absolute;top: 31%;height: 100%;display: block;z-index: 39;right: 58%;}
.arrow-left {background: url(../img/pop_swiperLeft.png) no-repeat;position: absolute;left: 0%;top: 50%;margin-top: -20px;width: 41px;height: 41px;z-index: 10;z-index: 2;}

.arrow-right {background: url(../img/pop_swiperRight.png) no-repeat;z-index: 1000;position: absolute;right: 0%;top: 50%;margin-top: -20px;width: 41px;height: 41px;}
.pop_swiper .nextPage{background: url('../img/pop_next_bg.png') center no-repeat; background-repeat: no-repeat;background-size: cover;}
.pop_swiper .nextPage {display: none;}
/** 轮播图片弹出层 ]] **/

/** 宽度最小为780px **/
@media only screen and (min-width:1400px){
	.parameter .para {width: 13%;margin: 0 1%;}
	.parameter .ptit {font-size: 1.4rem;}
	.section6 .img,.section6 .swicon{ margin-left: 18%;}
	.section6 .swicon{ width: 60%;}
	.section6 .swiper-prev {top: -15%;}
	.section4 .s4_tit{ top: 14%; width: auto;}
	.section3 .s3_tit {width: auto;}
	.section2_dotWrap .dot0 .dot_text {width: 489px;}
	.section2_dotWrap .dot1 .dot_text {width: 402px;}
	.section2_dotWrap .dot2 .dot_text {width: 522px;}
	.section2_dotWrap .dot3 .dot_text {width: 355px;}
	.section3_dotWrap .dot1 .dot_text {width: 622px;}
	.section3_dotWrap .dot3 .dot_text {width: 372px;}
	.section3_dotWrap .dot4 .dot_text {width: 392px;}
	.section3_dotWrap .dot0 .dot_text {width: 324px;}
	.section3_dotWrap .dot6 .dot_text {width: 360px;}
	.section4_dotWrap .dot1 .dot_text {width: 608px;}
	.section4_dotWrap .dot1 .dot_text {width: 322px;}
	.section4_dotWrap .dot2 .dot_text {width: 1135px}
	.sec2_pop .section2_dotWrap .dot4 {left: 16%;top: 63%;}
	.sec2_pop .section2_dotWrap .dot1 {left: 21.5%;top: 75%;}
	.sec2_pop .section2_dotWrap .dot2 {left: 43.5%;top: 40%;}
	.sec2_2_pop .tabPop {margin-top: 10%;margin-left: 18%;width: 60%;display: inline-block;position: relative;height: 65%;}
	.tabPop .c_d .sec2_2_car {width: 65%;}
	.tabPop .c_d .car1_j1 {right: 41%;top: 48%;}
	.tabPop .c_d .car1_j2 {right: 34.5%;top: 55.5%;}
	.tabPop .c_d .car1_j3 {right: 7%;top: 19%;}
	.tabPop .c_d .car1_j4 {right: 47%;top: 39.5%;}
	.section1 .s1_video .videoImg{cursor: pointer;padding: 2% 6% 3%;font-size: 1.2rem;}
	.section1 .s1_video {top: 40%;}
}

@media only screen and (min-width: 960px) and (max-width:1366px){
	.s_tit {top: 18%;}
	.section2 .s2_tit {top: 13%;}
	.parameter .para {top: 28%;}
	.section6 .img {width: 680px;}
	#main_a a {margin-top: 14px;}
	.tabPop .c_d .sec2_2_car{top: -8%;}
	.form-style {margin-top: 11%;}
	.sec2_pop .pop_tab .s2_pop_close{bottom: 4%;right: 8%;}
	.section6 .img { margin-top: 12%}
	.sec2_pop .pop_tab .tab img {width: 70%;}
	.sec2_pop .pop_tab .tab .pop_tit {margin-top: 15%;}
	.section1 .logo_foot,.section1 .funtec {bottom: 12%;}
	.section1 .s1_ztit { top: 14%; width: 22%;}
	.section1 .s1_ftit { top: 11%;}
	.tabPop .c_d .sec2_2_car { width: 58%;}
	.tabPop .tab { bottom: -10%;}
	.section6 .swicon { margin-top: -8px;}
	.section6 .swiper-next {bottom: -48%;}
	.form-bottom {margin-top: -6px;}
	.sec2_pop .section2_dotWrap .dot2 {left: 44%;top: 35%;}
	.sec2_pop .section2_dotWrap .dot1 {left: 21.2%;top: 68%;}
	.section2_4_dotWrap .dot2 {top: 57.5%;left: 39%;}
	.section2_4_dotWrap .dot4 {top: 85.5%;}
	.section3_dotWrap .dot4 {top: 23.5%;}
	.section3_dotWrap .dot1 {top: 54%;}
	.section3_dotWrap .dot3 {top: 60.5%;}
	
}

/*菜单*/
.menu {position: fixed; background: #030714;bottom: 0%;z-index: 10;width: 80%;right: -1%;-webkit-transform: skew(-20deg);-o-transform: skew(-20deg);-ms-transform: skew(-20deg);-moz-transform: skew(-20deg);transform: skew(-20deg);box-shadow: 0px 0px 3px 2px #0f4b67;}
.menu>li {float: left;display: inline-block;cursor: pointer;color: white;font-size: 1rem; line-height: 100%;text-align: center;width: 11%;box-sizing: border-box;box-shadow: 7px 1px 11px #115270; margin-right: 6px;transform-origin: center;}
.menu>li>a {-webkit-transform: skew(20deg);-o-transform: skew(20deg);-ms-transform: skew(20deg);-moz-transform: skew(20deg);transform: skew(20deg);display: inline-block;}
.menu li a {padding: 11px 5px;width: 100%;color: white;text-decoration: none;}
.menu li.active a {color: #21c0fc;}
.menu>li:last-child{box-shadow:none;}





/*视频弹出*/

.pop {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	z-index: 11;
}

.pop_close {
	position: absolute;
	right: 10px;
	top: 10px;
	z-index: 12;
	cursor: pointer;
}





/*quan*/

.quan {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	animation: myfirst2 0.8s infinite;
	animation-direction: infinite;
	-webkit-animation: myfirst2 0.8s infinite;
	-webkit-animation-direction: infinite;
}

@-webkit-keyframes myfirst2
/* Safari and Chrome */
{
	from {height: 100%;left: 0%;top: 0%;opacity: 1;}
	to {height: 140%;left: -20%;top: -20%;opacity: 0;}
}

@-moz-keyframes myfirst2
/* Safari and Chrome */

{
	from {
		height: 100%;
		left: 0%;
		top: 0%;
		opacity: 1;
	}
	to {
		height: 140%;
		left: -20%;
		top: -20%;
		opacity: 0;
	}
}

@-o-keyframes myfirst2
/* Safari and Chrome */

{
	from {
		height: 100%;
		left: 0%;
		top: 0%;
		opacity: 1;
	}
	to {
		height: 140%;
		left: -20%;
		top: -20%;
		opacity: 0;
	}
}

@-ms-keyframes myfirst2
/* Safari and Chrome */

{
	from {
		height: 100%;
		left: 0%;
		top: 0%;
		opacity: 1;
	}
	to {
		height: 140%;
		left: -20%;
		top: -20%;
		opacity: 0;
	}
}

@keyframes myfirst2 {
	from {
		height: 100%;
		left: 0%;
		top: 0%;
		opacity: 1;
	}
	to {
		height: 140%;
		left: -20%;
		top: -20%;
		opacity: 0;
	}
}

@keyframes myfirst3 {
	from {height: 100%;left: 0%;top: 0%;opacity: 1;}
	to {height: 140%;right: -30%;top: -30%;opacity: 0;}
}

