.menu{z-index: 6;}
.parameter .ptit{ font-size: 26px;}
.section1 .funtec{ bottom:10%;}
.section1 .logo_foot{ bottom:10%;}
.nextPage A{ margin-left: 32%;}
.form-style{ margin-top:10%;}
.form-row {margin-bottom: 1%;}
.parameter .para{ top:27%;}
.tabPop .c_d .sec2_2_w .tit{ font-size:18px;}
.tabPop .c_d,.tabPop .tab LI P{ font-size:13px;}
.s_tit .tit_zi{ font-size:13px;}
.section1 .s1_ztit{ width:21.5%;}
.section1 .s1_video{top:39%;}
.section1 .s1_video .s1_p4{ font-size:13px;}
.section1 .s1_video P SPAN{ font-size:32px;}
.section1 .s1_video .videoImg{ padding:8px 0% 8px 15px;}
.section6 .swiper-prev{ position: relative;}
.section6 .swiper-next{ position: relative;}
.swiper-pagination{position: relative;}
.section6 .img{ height: 250px;margin-top:12%;}
.section6 .swiper-next{ bottom:-141%;}
.section6 .swiper-prev{ top:-17%;}
.swiper-container{ width:100%;position:absolute;}
#jinDu{ font-size:30px;}
.sec2_pop{ position: absolute;}
.sec2_pop .pop_tab{ z-index: 6;}
.sec2_pop .section_dotWrap{ z-index: 6; display: inline-block;}
.sec2_pop .section_dotWrap .dot{width: 30px;}
.sec2_pop .pop_tab .tab{ width: 80%; margin-left: 20%;}
.sec2_pop .pop_tab .tab .pop_tit{ font-size: 22px; width: 54%;}
.sec2_pop .pop_tab .tab .pop_con{ font-size: 13px;}
.sec2_pop .pop_tab .tab IMG{ width: 70%;}
.sec2_pop .pop_tab .tab .pop_tit{ margin-top: 17%;}
.content_bg{ margin-top: 12%;}
table .title,.table-body,.table-body table tbody{ width: 100%;}
table td{ width: 26%;}
.section_dotWrap .dot{ display: inline-block; z-index: 10000000;}
.section4_dotWrap .dot1 {left: 44%;top: 44%;}
.section4_dotWrap .dot3 {left: 55.5%;top: 44%;}
.section4_dotWrap .dot4 {left: 30%;top: 54%;}
.section2_dotWrap .dot4{ display: none;}
.tabPop .tab LI.cur{background:none;filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='http://211.147.247.221/layouts/Activity/2016/09/img/s2_2_cbg.png', sizingMethod='scale'); }
.section1{ background-image:none;background:url('../img/s1_bg.jpg');
filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='http://211.147.247.221/layouts/Activity/2016/09/img/s1_bg.jpg', sizingMethod='scale'); }
.section2{ background-image:none;background:url('../img/s2_bg.jpg');
filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='http://211.147.247.221/layouts/Activity/2016/09/img/s2_bg.jpg', sizingMethod='scale'); }
.section2_2{ background-image:none;background:url('../img/sec2_2_pop_bg.jpg');
filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='http://211.147.247.221/layouts/Activity/2016/09/img/sec2_2_pop_bg.jpg', sizingMethod='scale'); }
.section2_3{ background-image:none;background:url('../img/s2_3_bg.jpg');
filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='http://211.147.247.221/layouts/Activity/2016/09/img/s2_3_bg.jpg', sizingMethod='scale'); }
.section2_4{ background-image:none;background:url('../img/s2_4_bg.jpg');
filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='http://211.147.247.221/layouts/Activity/2016/09/img/s2_4_bg.jpg', sizingMethod='scale'); }
.section3{ background-image:none;background:url('../img/s3_bg.jpg');
filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='http://211.147.247.221/layouts/Activity/2016/09/img/s3_bg.jpg', sizingMethod='scale'); }
.section4{ background-image:none;background:url('../img/s4_bg.jpg');
filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='http://211.147.247.221/layouts/Activity/2016/09/img/s4_bg.jpg', sizingMethod='scale'); }
.section5,.section6{ background-image:none;background:url('../img/s5_bg.jpg');
filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='http://211.147.247.221/layouts/Activity/2016/09/img/s5_bg.jpg', sizingMethod='scale'); }
.section7{ background-image:none;background:url('../img/s7_bg.jpg');
filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='http://211.147.247.221/layouts/Activity/2016/09/img/s7_bg.jpg', sizingMethod='scale'); }
.sec2_pop{background-image: url('../img/s2_1_bg.jpg');
filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='http://211.147.247.221/layouts/Activity/2016/09/img/s2_1_bg.jpg', sizingMethod='scale');}
.sec5_pop .nextPage{ background-image: url('../img/next5pop_bg.png');
filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='http://211.147.247.221/layouts/Activity/2016/09/img/next5pop_bg.jpg', sizingMethod='scale');}
